In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
##importo archivo
housing_data = pd.read_csv('datasets/housing.csv')

In [23]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1980,-120.88,38.58,8.0,3417.0,604.0,1703.0,623.0,4.0827,170700.0,INLAND
18882,-122.25,38.10,52.0,1780.0,373.0,824.0,317.0,2.7500,109900.0,NEAR BAY
5715,-118.23,34.20,51.0,1477.0,280.0,750.0,295.0,5.3925,317900.0,<1H OCEAN
10636,-117.79,33.70,6.0,1593.0,371.0,832.0,379.0,4.4286,239500.0,<1H OCEAN
14910,-117.05,32.61,31.0,4033.0,715.0,2585.0,715.0,3.5096,139900.0,NEAR OCEAN

In [24]:
##borro los que tengan valores vacios
housing_data = housing_data.dropna()
housing_data.shape

(20433, 10)

In [25]:
##buscamos los casos que tienen el valor medio igual al maximo
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [26]:
##borramos los que tienen el valor en el maximo
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)
housing_data.shape

(19475, 10)

In [27]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [28]:
##un distinct de los valores del campo proximidad al oceano
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [29]:
##vamos a modificar el valor de proximidad para que sea numerico
##ya que las operaciones de ML se realizar sobre datos numericos en Regresiones
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])
##esta funcion aplica reemplazo "One Hot"

In [30]:
housing_data.shape
##la funcion anterior creo 5 nuevas columnas, una por cada valor discreto con valor 1 o 0

(19475, 14)

In [11]:
##HASTA ACA PREPARAMOS LOS DATOS SIMIL LINEAR REGRESSION

In [31]:
##calculamos el valor medio del atributo valor medio de la casa
median=housing_data['median_house_value'].median()
median

173800.0

In [32]:
housing_data['above_median']=(housing_data['median_house_value']-median)>0

In [33]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
17524,-121.89,37.33,49.0,658.0,318.0,467.0,316.0,0.7068,200000.0,1,0,0,0,0,True
12319,-116.71,33.94,12.0,549.0,109.0,209.0,90.0,3.0208,66300.0,0,1,0,0,0,False
14082,-117.11,32.77,52.0,1484.0,224.0,498.0,223.0,6.6053,331400.0,0,0,0,0,1,True
6633,-118.16,34.16,43.0,1276.0,226.0,545.0,209.0,4.1518,230700.0,1,0,0,0,0,True
16120,-122.46,37.78,52.0,2594.0,622.0,1421.0,593.0,3.0265,350000.0,0,0,0,1,0,True

In [34]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
15651,-122.41,37.79,52.0,2302.0,938.0,1515.0,861.0,1.3668,55000.0,0,0,0,1,0,False
19390,-120.85,37.78,15.0,3553.0,659.0,1684.0,611.0,3.3169,131200.0,0,1,0,0,0,False
11714,-120.15,39.20,14.0,1382.0,242.0,141.0,66.0,4.1016,283300.0,0,1,0,0,0,True
4208,-118.24,34.10,42.0,1525.0,456.0,1688.0,432.0,3.1691,141300.0,1,0,0,0,0,False
19503,-121.02,37.66,28.0,1437.0,400.0,806.0,338.0,1.6078,125000.0,0,1,0,0,0,False

In [35]:
##en X guardamos el valor de nuestras features columns
X = housing_data.drop(['median_house_value','above_median'], axis=1)
##en Y guardamos el target column
Y = housing_data['above_median']

In [36]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [37]:
##importamos librería que fracciona el dataset en test y train en una fracción
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)
#en este caso 80/20 train/test

In [40]:
x_train.shape, y_train.shape

((15580, 13), (15580,))

In [41]:
x_test.shape, y_test.shape

((3895, 13), (3895,))

In [42]:
from sklearn.linear_model import LogisticRegression
logistic_model=LogisticRegression(solver='liblinear').fit(x_train,y_train)

In [44]:
#imprimimos el % del score con el que los datos de entrenamiento se identificaron con el modelo generado
print("Training Score: ", logistic_model.score(x_train,y_train))

Training Score:  0.8203465982028242

In [45]:
y_predict=logistic_model.predict(x_test)

In [47]:
##comparamos y graficamos el resultado de las prediccions con el resultado real de las target test
df_pred_actual=pd.DataFrame({'predicted':y_predict,'real':y_test})
##vemos las primeras 10
df_pred_actual.head(10)

       predicted   real
12107      False  False
12765      False  False
1466       False  False
8694        True   True
111         True   True
19953      False  False
13984      False  False
18525       True   True
2572        True  False
11811      False  False

In [48]:
from sklearn.metrics import accuracy_score
print("Testing Score: ", accuracy_score(y_test,y_predict) )

Testing Score:  0.8205391527599486