In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('datasets/german_credit_data_dataset.csv')
data

,checking_account_status,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,personal,other_debtors,...,property,age,other_installment_plans,housing,existing_credits,job,dependents,telephone,foreign_worker,customer_type
0,A11,6,A34,A43,1169.0,A65,A75,4.0,A93,A101,...,A121,67.0,A143,A152,2.0,A173,1,A192,A201,1
1,A12,48,A32,A43,5951.0,A61,A73,2.0,A92,A101,...,A121,22.0,A143,A152,1.0,A173,1,A191,A201,2
2,A14,12,A34,A46,2096.0,A61,A74,2.0,A93,A101,...,A121,49.0,A143,A152,1.0,A172,2,A191,A201,1
3,A11,42,A32,A42,7882.0,A61,A74,2.0,A93,A103,...,A122,45.0,A143,A153,1.0,A173,2,A191,A201,1
4,A11,24,A33,A40,4870.0,A61,A73,3.0,A93,A101,...,A124,53.0,A143,A153,2.0,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736.0,A61,A74,3.0,A92,A101,...,A121,31.0,A143,A152,1.0,A172,1,A191,A201,1
996,A11,30,A32,A41,3857.0,A61,A73,4.0,A91,A101,...,A122,40.0,A143,A152,1.0,A174,1,A192,A201,1
997,A14,12,A32,A43,804.0,A61,A75,4.0,A93,A101,...,A123,38.0,A143,A152,1.0,A173,1,A191,A201,1
998,A11,45,A32,A43,1845.0,A61,A73,4.0,A93,A101,...,A124,23.0,A143,A153,1.0,A173,1,A192,A201,2
999,A12,45,A34,A41,4576.0,A62,A71,3.0,A93,A101,...,A123,27.0,A143,A152,1.0,A173,1,A191,A201,1

In [3]:
data.columns

Index(['checking_account_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings', 'present_employment', 'installment_rate',
       'personal', 'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'existing_credits', 'job',
       'dependents', 'telephone', 'foreign_worker', 'customer_type'],
      dtype='object')

In [4]:
data=data.drop(['telephone','personal','present_residence','other_installment_plans'],axis=1)

In [5]:
data.shape

(1000, 17)

In [6]:
data['savings'].unique()

array(['A65', 'A61', 'A63', 'A64', 'A62'], dtype=object)

In [9]:
#como son tipos de datos discretos hay que convertirlos a un numero 
#esta conversiÃ³n se utilizÃ³ el replace porque los tipos de datos categoricos tienen un orden implicito que no se puedo conseguir con el metodo getdummies
from sklearn.preprocessing import LabelEncoder
saving_dic={"A65":0,"A61":1,"A62":2,"A63":3,"A64":4}
data['savings'].replace(saving_dic, inplace=True)
data.head()

,checking_account_status,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,other_debtors,property,age,housing,existing_credits,job,dependents,foreign_worker,customer_type
0,A11,6,A34,A43,1169.0,0,A75,4.0,A101,A121,67.0,A152,2.0,A173,1,A201,1
1,A12,48,A32,A43,5951.0,1,A73,2.0,A101,A121,22.0,A152,1.0,A173,1,A201,2
2,A14,12,A34,A46,2096.0,1,A74,2.0,A101,A121,49.0,A152,1.0,A172,2,A201,1
3,A11,42,A32,A42,7882.0,1,A74,2.0,A103,A122,45.0,A153,1.0,A173,2,A201,1
4,A11,24,A33,A40,4870.0,1,A73,3.0,A101,A124,53.0,A153,2.0,A173,2,A201,2

In [11]:
#para los datos categoricos que no importa el orden los reemplazo con la funcion de la libreria
data=pd.get_dummies(data, columns=['checking_account_status',
                                   'credit_history', 
                                   'purpose', 
                                   'present_employment', 
                                   'property', 
                                   'housing',
                                  'other_debtors',
                                  'job',
                                  'foreign_worker'])

In [14]:
data.shape

(1000, 48)

In [15]:
#importamos todos los algoritmos de clasificacion
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [16]:
#Armamos una funciÃ³n por cada algoritmo

In [17]:
#Naive Bayes
def naive_bayes(x_train, y_train):
    classifier=GaussianNB()
    classifier.fit(x_train,y_train)
    return classifier

In [18]:
#Neighbors
def k_nearest_neighbors(x_train, y_train):
    classifier=KNeighborsClassifier(n_neighbors=10)
    classifier.fit(x_train,y_train)
    return classifier

In [19]:
#SVC
def svc(x_train, y_train):
    classifier=SVC(kernel='rbf', gamma='scale')
    classifier.fit(x_train,y_train)
    return classifier

In [20]:
#DecisionTree
def decision_tree(x_train, y_train):
    classifier=DecisionTreeClassifier(max_depth=6)
    classifier.fit(x_train,y_train)
    return classifier

In [23]:
#importamos las librerÃ­as para recortar los datos de entrenamiento y validacion
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [25]:
X=data.drop('customer_type',axis=1)
Y=data['customer_type']
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2)

In [29]:
def build_train_clasiffiers(x_train,y_train,classification_fn):
    model=classification_fn(x_train,y_train)
    ypred=model.predict(xtest)
    train_score=model.score(x_train,y_train)
    test_score=accuracy=accuracy_score(ytest,ypred)
    print("Training Score: ",train_score)
    print("Testing Score:",test_score)

In [30]:
#entrenamos naive bayes
build_train_clasiffiers(xtrain,ytrain,naive_bayes)

Training Score:  0.76125
Testing Score: 0.715

In [31]:
#entrenamos k nearest neighbors
build_train_clasiffiers(xtrain,ytrain,k_nearest_neighbors)

Training Score:  0.7325
Testing Score: 0.73

In [32]:
#entrenamos svc
build_train_clasiffiers(xtrain,ytrain,svc)

Training Score:  0.69875
Testing Score: 0.76

In [33]:
#entrenamos decision tree
build_train_clasiffiers(xtrain,ytrain,decision_tree)

Training Score:  0.7975
Testing Score: 0.715

In [34]:
#ENSEMBLE CON RANDOM FOREST

In [35]:
#Abro dos set de datos
xtrain1,xtrain2,ytrain1,ytrain2=train_test_split(X,Y,test_size=0.5)

In [36]:
rfc=RandomForestClassifier(max_depth=4,n_estimators=2,warm_start=True)

In [37]:
rfc.fit(xtrain1,ytrain1)

RandomForestClassifier(max_depth=4, n_estimators=2, warm_start=True)

In [38]:
#Evaluamos el score de prediccion
ypred=rfc.predict(xtest)
test_score=accuracy=accuracy_score(ytest,ypred)
print("Testing Score:",test_score)

Testing Score: 0.76

In [39]:
#luego de entrenar al modelo con el primer set de datos, volvemos a entrenarlo nuevamente con el segundo set de datos
rfc.n_estimators+=2
rfc.fit(xtrain2,ytrain2)

RandomForestClassifier(max_depth=4, n_estimators=4, warm_start=True)

In [40]:
#Volvemos a evaluar el score de prediccion
ypred=rfc.predict(xtest)
test_score=accuracy=accuracy_score(ytest,ypred)
print("Testing Score:",test_score)

Testing Score: 0.755